body{
  margin: 1rem;
  background-color: rgb(215, 246, 255);
}

.human, .titan{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  align-items: center;
}
.description{
  width: 50vw;
}
.image img{
  width: 80%;
  padding-left: 2rem;

}
.img_human{
  border-radius: 50%;
  aspect-ratio: 1/1;

}
.parallax{
  position: absolute;
}
/* .temp{
  height: 100vh;
} */

.description{
  font-size: 1.3rem;
}
.description span{
  font-weight: bold;
  font-size: 1.5rem;
}